openapi: 3.2.0
info:
  title: Atomtickets Ping API
  version: '2026-09-26'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-26: 14 operation(s) read from 11 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; Atomtickets has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 13
    documentation: 1
    pages-with-code: 5
    pages-read: 11
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-26'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://apidocs.atomtickets.com
  - https://developers.atomtickets.com/guides/discovery
  - https://developers.atomtickets.com/getting-started/introduction
  - https://developers.atomtickets.com/ai-agents
  - https://developers.atomtickets.com/getting-started/authentication
  - https://developers.atomtickets.com/models/venues
  - https://developers.atomtickets.com/models/productions
  - https://developers.atomtickets.com/models/showtimes
  - https://developers.atomtickets.com/examples/venues
  - https://developers.atomtickets.com/examples/productions
  - https://developers.atomtickets.com/examples/showtimes
servers:
- url: https://api-beta.atomtickets.com
security:
- apiKey: []
tags:
- name: Ping
paths:
  /ping:
    get:
      operationId: get_ping
      tags:
      - Ping
      summary: Health endpoint to check service availability
      x-source: https://developers.atomtickets.com/ai-agents
      responses:
        '200':
          description: Success (status as documented)
      x-evidence:
        kind: documentation
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
